RewriteEngine on 

RewriteCond %{SCRIPT_FILENAME} -d [OR]
RewriteCond %{SCRIPT_FILENAME} -f
RewriteRule "(^|/)\." - [F]

RewriteRule ^api$ /404.php
RewriteRule ^about$ /404.php
RewriteRule ^pricing$ /404.php
RewriteRule ^admin$ /404.php
RewriteRule ^login$ /404.php
RewriteRule ^service$ /ajax.php
RewriteRule ^auth$ /auth.php
RewriteRule ^help$ /help.php
RewriteRule ^ucenter$ /ucenter.php

RewriteRule ^([0-9a-zA-Z]+)$ /redirect.php?token=$1

