#main {
	max-width: 640px;
	margin: 0 auto;
}

#visitors table {
	max-width: 320px;
	margin: 0 auto;
}

#visitors table th {
	width: 50%;
}

#form-multiset-text {
	height: 100%;
	width: 100%;
}

#form-multiset-submit {
	margin-top: 10px;
}

/* make sticky footer  */
body, html {
	height: 100%;
}

footer, .push {
	height: 36px;
}

footer, footer .ul, footer .breadcrumb {
	margin-bottom: 0;
	background-color: transparent;
	text-align: center;
}

footer a:link, footer a:visited {
	text-decoration: none;
	color: #777;
}

footer a:hover {
	text-decoration: underline;
	color: #000000;
}

.wrapper {
	min-height: 100%;
	/* the bottom margin is the negative value of the footer's height */
	margin: 0 auto -36px;
}

/* end */